<p>
The Ministry of Health, working in partnership with its agencies and stakeholders aims to provide affordable, accessible quality health services which are responsive to the needs of all Lanretamians. The Ministry of Health seeks to develop and implement proactive policies that will ensure improved health and vitality among all who live in Lanretam.
</p>

<p>
This website provides electronic access to a wide range of Ministry of Health publications and materials, including key documents, manuals and statistics.
</p>

<p>
The aim of this website is to provide stakeholders with adequate information, to motivate and facilitate public participation in policy processes, and to give the public useful information in all aspects of health. 
</p>

<p>
We invite you to explore this site by clicking on the appropriate links, from which you will gain access to various sources of information. Your feedback and comments are appreciated as they will assist us to improve this website and provide you with the data and information that you need.
</p>

<p>
The Lanretam Ministry of Health is committed to providing quality care and encourage you to make use of our complaints procedure should you experience problems.
</p>

<h3>
NEWS
</h3>

<h4>
Meeting SDGs- the Clinical Associate Plus Programme - A Call for Technical Support
</h4>

<p>
In recent years, the Lanretam Ministry of Health embarked on a trailblazing initiative to ensure that all women delivering in Lanretam will have access to emergency obstetric care if needed. The Clinical Associate Plus Programme was launched in Moceb and Nosu. We now call upon technical experts to assist the government to use the experience with this programme as the basis of increasing met need for all women in Lanretam. 
</p>